.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 100px auto;
    width: 1340px;
    max-width: 2000px;
    height: auto;
}

.section-menu {
    font-family: 'Kufam';
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 140px;
    color: #fff;
}

@mixin Images-style {
    float: left;
    border-radius: 10px;
    width: 240px;
    height: 240px;
    background-size: cover;
    margin-bottom: 100px;
    margin-right: 15px;
    cursor: pointer;
    box-shadow: inset 1px 1px 5px black,
        inset -1px -1px 5px black;
}


.container-images {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.container-images p {
    font-weight: 400;
    font-size: 34px;
    width: auto;
    height: 100px;
    color: #fff;
    font-family: "Kufam";
}

.description {
    margin: 0;
}

.price {
    margin: 0;
    display: flex;
    align-items: center;
    padding-top: 64px;
}

.container-images p span {
    color: $logo-top;
    padding-left: 10px;
}

.image1 {
    @include Images-style();
    background-image: url(/Images/1.jpg);
}

.image2 {
    @include Images-style();
    background-image: url(/Images/2.jpg);
}

.image3 {
    @include Images-style();
    background-image: url(/Images/3.jpg);
}

.image4 {
    @include Images-style();
    background-image: url(/Images/4.jpg);
}