@import"colors";
@import"header";
@import"section";
@import"footer";

/* Fonts Imp*/
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');

/* Fonts */
:root {
    --Italliano: var('Italianno');
    --Kufam: var("Kufam");
}

/* || Global variables */
* {
    color: white;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/Images/Back-Restouran.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    backdrop-filter: blur(10px);
    zoom: 0.7;
}